html{
  height: 100%;
}

body {
  margin: auto;
  font-size: 10px;
  background-color: #4f4f4f;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro{
  margin: 0;
  max-height: 100%;
  background-color: #4652ae;
}

.intro h1, p{
  text-align: center;
  color: white;
}

.intro p{
  font-size: 30px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  place-items: center;
  height: auto;
  padding: 10px;
  height: 60%;
}

.inputs > * {
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 2em;
  text-align: center;
  background-color: #ffffff;
  transition: all 0.7s;
  width: 70%;
}

.inputs > *:hover{
  cursor: pointer;
}
 
.inputs > .key > span {
  color: #4652ae;
  font-size: 0.7em;
  font-weight: normal;
  transition: all 0.5s;
}

.playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 200px 20px black;
}

.inputs > .playing > span {
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
}

kbd {
  display: block;
  color: #333333;
  font-size: 3rem;
  transition: 0.5s;
}

footer {
  background-color: #4652ae;
  color: white;
  padding: 20px;
  max-height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-links img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.author-info {
  flex: 1;
  font-size: 20px;
}


@media screen and (max-width: 600px){

  .inputs {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .social-links img{
    width: 90px;
    height: 90px;
  }

  .author-info{
    font-size: 10px;
  }
}